@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");

.page-wrapper,.main-contents,.section-area,.section-content,.section-text {
  *zoom: 1;
}

.page-wrapper:before,.main-contents:before,.section-area:before,.section-content:before,.section-text:before,.page-wrapper:after,.main-contents:after,.section-area:after,.section-content:after,.section-text:after {
  content: "";
  display: table;
}

.page-wrapper:after,.main-contents:after,.section-area:after,.section-content:after,.section-text:after {
  clear: both;
}

*,html,:root,*::before,*::after {
  box-sizing: border-box;
  *behavior: url("js/boxsizing.htc");
}

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.main-contents {
  width: 83.05085%;
  float: right;
  margin-right: 0;
  max-width: 1550px;
}

.site-header {
  background-color: #000;
  color: #fff;
}

.sticky-sidebar {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  height: 100%;
  left: 0;
  min-width: 200px;
  padding: 50px;
  position: fixed;
  top: 0;
}

.site-branding {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 50px 0;
  text-align: center;
}

.site-branding a {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.nav-wrapper {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  clear: both;
  margin: 50px 0;
}

.sidebar-nav {
  width: 100%;
  float: right;
  margin-right: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.sidebar-nav li {
  width: 100%;
  float: right;
  margin-right: 0;
}

.sidebar-nav a {
  color: #fff;
  display: block;
  font-size: 24px;
  padding: 20px 0;
  text-decoration: none;
}

.section-area {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.section-content {
  margin: 0;
  padding: 50px 0;
}

.section-text--desc {
  font-size: 20px;
}

.section-text--full {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.section-text--wide {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
}

.section-text--narrow {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}

.section-image--wide {
  width: 57.62712%;
  float: right;
  margin-right: 0;
}

.section-image--narrow {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}

.section-title {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}

.section-subtitle {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.title-emphasis {
  font-weight: 700;
  text-transform: uppercase;
}

.site-footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  bottom: 0;
  clear: both;
  color: #999;
  left: 0;
  margin: 50px 0;
  position: absolute;
  right: 0;
  text-align: center;
}
