// Box-Sizing fix for Float Heights.
*, html, :root, *::before, *::after {
    @include box-sizing(border-box);
}

body {
    font-family: $font-body;
    font-size: $base-font-size;
    font-weight: $font-weight-light;
    line-height: $base-line-height;
    margin: 0;
    padding: 0;
    a {
        @extend %clearfix;
        border-bottom: 1px solid rgba($color-blue, .25);
        color: $color-blue;
        text-decoration: none;
        &:focus, &:hover {
            border-bottom: 1px solid rgba($color-blue, .5);
            color: darken($color-blue, 8%);
        }
    }
}

.page-wrapper, .main-contents {
    @extend %clearfix;
}

.page-wrapper {}

.main-contents {
    @include span(last 10 of 12 no-gutters);
    max-width: 1550px;
}
