body {
    font-family: $font-body;
    font-size: $base-font-size;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.page-wrapper, .main-contents {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.page-wrapper {}

.main-contents {}
