// Box-Sizing fix for Float Heights.
*, html, :root, *::before, *::after {
    @include box-sizing(border-box);
}

body {
    font-family: $font-body;
    font-size: $base-font-size;
    font-weight: $font-body-weight;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.page-wrapper, .main-contents {
    @extend %clearfix;
}

.page-wrapper {}

.main-contents {
    @include span(last 9 of 12 no-gutters);
    max-width: 1550px;
}
