//
//Breakpoint Sass http://breakpoint-sass.com
//- Assume min-width (by default) if only a number
//- Set min-width/max-width if both values are numbers
//- If one value is a string, assume a feature/value pair
//- String tests together within parentheses, assume each item is a feature value pair
//- Declare our breakpoints. All min-width for now.
//
//"tp" = tweak point
//

$small: 480px;
$small-wide: 640px;
$medium-tall: 760px;
$medium-wide: 960px;
$large: 1100px;

//
//Repeat list only because I dont think Breakpoint Sass can use these variables
//These values have to be displayed in a list
//
$breakpoints: (
    small: 480px,
    small-wide: 640px,
    medium-tall: 760px,
    medium-wide: 960px,
    large: 1100px
);