@mixin box-shadow($horiz: 0, $vert: 3px, $blur: 5px, $spread: 0, $color: rgba($color-black, 0.25)) {
    box-shadow: $horiz $vert $blur $spread $color;
}

@mixin box-sizing($box-model) {
    box-sizing: $box-model;
    *behavior: url("js/boxsizing.htc");
    // <= IE8
}

@mixin clearfix {
    *zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin container($max-width: 90%) {
    margin: auto;
    max-width: $max-width;
    overflow: hidden;
}
