.site-header {
    background-color: $color-black;
    color: $color-white;
}

.sticky-sidebar {
    @include span(2 of 12);
    height: 100%;
    left: 0;
    min-width: 200px;
    padding: 50px;
    position: fixed;
    top: 0;
}

.site-branding {
    @include span(12 of 12);
    margin: 50px 0;
    text-align: center;
    a {
        @include span(12 of 12);
        display: block;
    }
}
