.nav-wrapper {
    @include span(12 of 12);
    clear: both;
    margin: 25px 0;
    @include breakpoint($large) {
        margin: 50px 0;
    }
}

.sidebar-nav {
    @include span(last 12 of 12);
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0 50px;
    text-align: right;
    @include breakpoint($large) {
        padding: 0;
    }
    li {
        @include span(last 12 of 12);
    }
    a {
        color: $color-white;
        display: block;
        font-size: $base-font-size;
        padding: 20px 0;
        text-decoration: none;
        @include breakpoint($large) {
            font-size: 24px;
        }
    }
}
