.section-area {
    @extend %clearfix;
    border-bottom: 1px solid rgba($color-black, .25);
    margin: 0;
    padding: $site-header-height-mobile 0;
    @include breakpoint($medium-tall) {
        font-size: 24px;
    }
}

.section-content {
    @extend %clearfix;
    margin: 0;
    @at-root #{&}--intro {
        @include breakpoint($medium-tall) {
            padding: 50px 0;
        }
    }
    @at-root #{&}--details {
        border-bottom: 1px dashed rgba($color-black, .25);
        padding: 50px 0;
    }
}

.section-text {
    @extend %clearfix;
    margin: auto;
    width: 90%;
    @at-root #{&}--desc {
        @include breakpoint($medium-tall) {
            font-size: 20px;
        }
    }
    @at-root #{&}--full {
        @include breakpoint($medium-tall) {
            @include span(12 of 12);
        }
    }
    @at-root #{&}--wide {
        @include breakpoint($medium-tall) {
            @include span(7 of 12);
        }
    }
    @at-root #{&}--narrow {
        @include breakpoint($medium-tall) {
            @include span(4 of 12);
        }
    }
}

.section-image {
    @extend %clearfix;
    @at-root #{&}--wide {
        @include breakpoint($medium-tall) {
            @include span(last 7 of 12);
        }
        img {
            @include box-shadow;
        }
    }
    @at-root #{&}--narrow {
        @include breakpoint($medium-tall) {
            @include span(last 4 of 12);
        }
    }
    @at-root #{&}-headline {
        @include font-headline($font-body, $font-weight-regular);
        @include font-headline-size(20px, 1.2);
        background: transparent url("../../images/portfolio-before-after-bg.jpg") 0 0 repeat-y;
        margin: 0;
        padding: 10px;
    }
}

.section-title {
    color: $color-headlines;
    font-size: 36px;
    font-weight: $font-weight-light;
    line-height: 1.2;
    margin: 0;
}

.section-subtitle {
    color: $color-headlines;
    font-size: 24px;
    font-weight: $font-weight-regular;
    margin: 0;
    text-transform: uppercase;
    @include breakpoint($medium-tall) {
        font-size: 30px;
    }
}

.title-emphasis {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}
