.section-content {
    @extend %clearfix;
    font-size: 24px;
}

.section-text {
    @extend %clearfix;
    padding: 50px 0;
    @at-root #{&}--wide {
        @include span(7 of 12);
    }
    @at-root #{&}--narrow {
        @include span(3 of 12);
    }
}

.section-image {
    @at-root #{&}--wide {
        @include span(7 of 12);
    }
    @at-root #{&}--narrow {
        @include span(3 of 12);
    }
}

.section-title {
    font-size: 36px;
    font-weight: $font-body-weight;
}

.title-emphasis {
    font-weight: $font-headline-weight;
    text-transform: uppercase;
}
