.section-area {
    @extend %clearfix;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.section-content {
    @extend %clearfix;
    margin: 0;
    padding: 50px 0;
    @at-root #{&}--intro {}
    @at-root #{&}--details {}
}

.section-text {
    @extend %clearfix;
    @at-root #{&}--desc {
        font-size: 20px;
    }
    @at-root #{&}--full {
        @include span(12 of 12);
    }
    @at-root #{&}--wide {
        @include span(7 of 12);
    }
    @at-root #{&}--narrow {
        @include span(4 of 12);
    }
}

.section-image {
    @at-root #{&}--wide {
        @include span(last 7 of 12);
        img {
            @include box-shadow;
        }
    }
    @at-root #{&}--narrow {
        @include span(last 4 of 12);
    }
    @at-root #{&}-headline {
        @include font-headline($font-body, $font-weight-regular);
        @include font-headline-size(20px, 1.2);
        background: transparent url("../../images/portfolio-before-after-bg.jpg") 0 0 repeat-y;
        margin: 0;
        padding: 10px;
    }
}

.section-title {
    color: $color-headlines;
    font-size: 36px;
    font-weight: $font-weight-light;
    margin: 0;
}

.section-subtitle {
    color: $color-headlines;
    font-size: 30px;
    font-weight: $font-weight-regular;
    margin: 0;
    text-transform: uppercase;
}

.title-emphasis {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}
