.social-media {
    @extend %clearfix;
    @at-root #{&}--list {
        @extend %list-reset;
        li {
            @include span(2.25 of 12);
        }
        .fa {
            float: left;
            font-size: 48px;
        }
        a {
            border: 0;
            display: block;
            text-decoration: none;
        }
    }
    @at-root #{&}--label {
        float: left;
        padding: 8px 10px;
    }
}
