.social-media {
    @extend %clearfix;
    @at-root #{&}--list {
        @extend %clearfix;
        @extend %list-reset;
        li {
            @include span(5.75 of 12);
            margin-bottom: 20px;
            @include breakpoint($medium-tall) {
                @include span(2.25 of 12);
            }
        }
        .fa {
            float: left;
            font-size: 48px;
        }
        a {
            border: 0;
            display: block;
            text-decoration: none;
        }
    }
    @at-root #{&}--label {
        float: left;
        font-size: $base-font-size;
        padding: 12px 5px;
        @include breakpoint($medium-tall) {
            clear: left;
            padding: 0;
        }
    }
}
