{{!-- templates/sections/about-me.hbs --}}

<section class="section-area section-area--about" id="about">
    <section class="section-content section-content--intro">
        <section class="section-text section-text--wide">
            <h1 class="section-title">Hello, my name is <span class="title-emphasis">SAO MOUA</span>.</h1>
            <p>I am an aspiring web designer and developer from the Twin Cities, MN. I am currently finishing my studies in Graphic Design from Rasmussen College.</p>
        </section>
        <section class="section-image section-image--narrow">
            <img alt="Self portrait" src="images/self-portrait.jpg">
        </section>
    </section>
</section>
