{{!-- templates/sections/contact-me.hbs --}}

<section class="section-area section-area--contact" id="content">
    <section class="section-content section-content--intro">
        <section class="section-text section-text--full">
            <h1 class="section-title">
                <span class="title-emphasis">CONTACT ME</span>
            </h1>
            <p>Below are ways that you can connect with me.</p>
        </section>
    </section>
</section>
