{{!-- templates/sections/contact-me.hbs --}}

<section class="section-area section-area--contact" id="content">
    <section class="section-content section-content--intro">
        <section class="section-text section-text--full">
            <h1 class="section-title">
                <span class="title-emphasis">CONTACT ME</span>
            </h1>
            <p>Below are ways that you can connect with me.</p>
            <ul class="social-list">
                <li>
                    <a href="mailto:saomua@gmail.com">
                        <i class="fa fa-envelope"></i> Email
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/saomua" target="_blank">
                        <i class="fa fa-facebook-official"></i> Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCPANiCwTfDg3DVh962UWVYQ" target="_blank">
                        <i class="fa fa-youtube-play"></i> Youtube
                    </a>
                </li>
                <li>
                    <a href="http://saomuas.deviantart.com/" target="_blank">
                        <i class="fa fa-deviantart"></i> Deviantart
                    </a>
                </li>
                <li>
                    <a href="https://dribbble.com/saomua" target="_blank">
                        <i class="fa fa-dribbble"></i> Dribbble
                    </a>
                </li>
            </ul>
        </section>
    </section>
</section>
