{{!-- templates/sections/portfolio.hbs --}}

<section class="section-area section-area--portfolio" id="portfolio">
    <section class="section-content section-content--intro ">
        <section class="section-text section-text--full">
            <h1 class="section-title">
           <span class="title-emphasis">PORTFOLIO</span>
       </h1>
            <p>Below is a curated collection of my previous work, showcasing my web design and development abilities.</p>
        </section>
    </section>
    
    <section class="section-content section-content--details">
        <section class="section-text section-text--narrow section-text--desc">
            <h2 class="section-subtitle">Personal Brand</h2>
            <p>Medium: logo, business card, letter head</p>
            <p>Tools used:</p>
            <ul>
                <li>Adobe Illustrator</li>
                <li>Adobe Photoshop</li>
            </ul>
        </section>
        <section class="section-image section-image--wide">
            <img alt="Sao Moua Designs, branding concept" src="images/portfolio-smd-branding-thumb.jpg">
        </section>
    </section>


    <section class="section-content section-content--details">
        <section class="section-text section-text--narrow section-text--desc">
            <h2 class="section-subtitle">Magic Marble Steakhouse</h2>
            <p>Magic Marble Steakhouse is a fictional restaurant I created for a class project. Pictured here is the re-designed menu page layout.</p>
            <p>Medium: website concept</p>
            <p>Tools used:</p>
            <ul>
                <li>Adobe Illustrator</li>
                <li>Adobe Photoshop</li>
                <li>Adobe Dreamweaver</li>
                <li>Google Fonts</li>
                <li>FontAwesome font icons</li>
                <li>HTML, CSS, jQuery</li>
                <li>Web design trends &amp; best practices</li>
            </ul>
        </section>
        <section class="section-image section-image--wide">
            <img alt="Magic Marble Steakhouse, menu concept" src="images/portfolio-mms-thumb.jpg">
        </section>
    </section>

    <section class="section-content section-content--details">
        <section class="section-text section-text--narrow section-text--desc">
            <h2 class="section-subtitle">ThinkSmall.org</h2>
            <p>For a class assignment, I was tasked to re-design the homepage of a local non-profit organization or charity. I chose Think Small, a Minnesota-based non-profit that provides services, resources and advoacy for early childhood education.</p>
            <p>Pictured here is the re-imagined concept for the organization’s homepage. I maintained the color theme but updated the organization’s logo, added full-width banner images, and improved content hirarchy.</p>
            <p>Medium: website concept</p>
            <p>Tools used:</p>
            <ul>
                <li>Adobe Illustrator</li>
                <li>Adobe Photoshop</li>
                <li>Web design trends &amp; best practices</li>
            </ul>
        </section>
        <section class="section-image section-image--wide">
            <img alt="Think Small non-proft organization, homepage concept" src="images/portfolio-thinksmall-thumb.jpg">
        </section>
    </section>

    <section class="section-content section-content--details">
        <section class="section-text section-text--narrow section-text--desc">
            <h2 class="section-subtitle">Transformers: The Last Knight</h2>
            <p>For a class assignment, I was tasked to create a landing page that incorporates a current visual design trend in the music, fashion or entertainment industries. I chose the new Transformers movie.</p>
            <p>Pictured here is a more focused, legible, and informative splash page for the upcoming movie.</p>
            <p>Medium: website concept</p>
            <p>Tools used:</p>
            <ul>
                <li>Adobe Photoshop</li>
                <li>Web design trends &amp; best practices</li>
            </ul>
        </section>
        <section class="section-image section-image--wide">
            <img alt="Transformers: The Last Knight, splash page concept" src="images/portfolio-transformers-thumb.jpg">
        </section>
    </section>

    <section class="section-content section-content--details">
        <section class="section-text section-text--narrow section-text--desc">
            <h2 class="section-subtitle">Pjoncas Studios</h2>
            <p>For a class assignment, I was tasked to re-create a designer’s portfolio.</p>
            <p>Pictured here is a harmonious, streamlined concept of the designer’s website. The logo has been re-designed, the layout was simplified, and content hierachy re-imagined.</p>
            <p>Medium: website concept</p>
            <p>Tools used:</p>
            <ul>
                <li>Adobe Illustrator</li>
                <li>Adobe Photoshop</li>
                <li>Web design trends &amp; best practices</li>
            </ul>
        </section>
        <section class="section-image section-image--wide">
            <img alt="PJoncas Studios, redesign homepage concept" src="images/portfolio-pjoncas-thumb.jpg">
        </section>
    </section>

    <section class="section-content section-content--details">
        <section class="section-text section-text--narrow section-text--desc">
            <h2 class="section-subtitle">Lexus IS 250</h2>
            <p>For a class assignment, I was tasked to re-create a landing page for a product.</p>
            <p>Pictured here is my concept for the Lexus IS 250. The layout has been simplified with minimal information.</p>
            <p>Medium: website concept</p>
            <p>Tools used:</p>
            <ul>
                <li>Adobe Photoshop</li>
                <li>Web design trends &amp; best practices</li>
            </ul>
        </section>
        <section class="section-image section-image--wide">
            <img alt="Lexus IS 250, product page concept" src="images/portfolio-lexus-concept.jpg">
        </section>
    </section>
    
    <section class="section-content section-content--details">
        <section class="section-text section-text--narrow section-text--desc">
            <h2 class="section-subtitle">Rainy Tuesday</h2>
            <p>Medium: poster</p>
            <p>Tools used:</p>
            <ul>
                <li>Adobe Illustrator</li>
            </ul>
        </section>
        <section class="section-image section-image--wide">
            <img alt="Rainy Tuesday band, concert poster concept" src="images/portfolio-guitar-concept.jpg">
        </section>
    </section>

    <section class="section-content section-content--details">
        <section class="section-text section-text--narrow section-text--desc">
            <h2 class="section-subtitle">Decorative Typopgrahic Poem</h2>
            <p>Medium: illustration</p>
            <p>Tools used:</p>
            <ul>
                <li>Adobe Illustrator</li>
            </ul>
        </section>
        <section class="section-image section-image--wide">
            <img alt="Poem illustration concept" src="images/portfolio-poem-concept.jpg">
        </section>
    </section>
    
    <section class="section-content section-content--details">
        <section class="section-text section-text--narrow section-text--desc">
            <h2 class="section-subtitle">Digital Camera Ad</h2>
            <p>Medium: illustration ad</p>
            <p>Tools used:</p>
            <ul>
                <li>Adobe Illustrator</li>
            </ul>
        </section>
        <section class="section-image section-image--wide">
            <img alt="Digital camera illustration, product ad concept" src="images/portfolio-camera-concept.jpg">
        </section>
    </section>

</section>
