{{!-- templates/sections/portfolio.hbs --}}

<section class="section-content" id="portfolio">
    <section class="section-text section-text--intro section-text--full">
        <h1 class="section-title">
           <span class="title-emphasis">PORTFOLIO</span>
       </h1>
        <p>Below is a curated collection of my previous work, showcasing my web design and development abilities.</p>
    </section>
    <div class="section-text section-text--narrow section-text--desc">
        <h2 class="section-subtitle">MAGIC MARBLE STEAKHOUSE</h2>

        <p>Magic Marble Steakhouse is a fictional restaurant I created for a class project. Pictured here is the re-designed menu page layout.</p>

        <p>Tools used:</p>
        <ul>
            <li>Adobe Illustrator</li>
            <li>Adobe Photoshop</li>
            <li>Adobe Dreamweaver</li>
            <li>Google Fonts</li>
            <li>FontAwesome font icons</li>
            <li>HTML, CSS, jQuery</li>
            <li>Web design trends &amp; best practices</li>
        </ul>
    </div>
    <section class="section-image section-image--wide">
        <img alt="Magic Marble Steakhouse" src="images/portfolio-mms-thumb.jpg">
    </section>
</section>
