{{!-- templates/layouts/home.hbs --}}

{{> global/header }}

<div class="container">
    {{#> about-me-block}}
    {{/about-me-block}}
    
    {{#> portfolio-block}}
    {{/portfolio-block}}
    
    {{#> contact-me-block}}
    {{/contact-me-block}}
</div>

{{> global/footer }}