<header class="site-header sticky-sidebar">
   <section class="site-branding">
       <a href="/">
           <img alt="Sao Moua Designs" src="images/logo-smd.jpg">
       </a>
   </section>
    <nav class="nav-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#portfolio">Portfolio</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
    <footer class="site-footer">
        <p>&copy; 2017 Sao Moua Designs</p>
    </footer>
</header>
