<header class="site-header sticky-sidebar">
    <div class="container">
        <section class="site-branding">
            <a href="#about">
                <img alt="Sao Moua Designs" src="images/logo-smd-white.svg">
            </a>
        </section>
        <nav class="nav-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#about">
                        <i class="fa fa-user-circle-o"></i>
                        <span>About</span>
                    </a>
                </li>
                <li>
                    <a href="#portfolio">
                        <i class="fa fa-briefcase"></i>
                        <span>Portfolio</span>
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <i class="fa fa-envelope"></i>
                        <span>Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
        <footer class="site-footer">
            <p>&copy; 2017 Sao Moua Designs</p>
        </footer>
    </div>
</header>
